<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <style media="screen">
      body{
        background: pink;
        /*text-align: center;*/
        font: #000;
      }
      h1{
        text-align: center;
      }
      p{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Facebook</h1>
    <p>Welcome to Facebook Page</p>
    <%include nav.ejs%>
  </body>
</html>
