<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test hbs</title>
    <style media="screen">
      body{
        background: red;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>My name : <%=name%></h1>
  </body>
</html>
